@model CreatEmployeeDTO
@inject IDepartmentRepository _departmentRepository;
@{
    ViewData["Title"] = "Creat";
	// <option value="">Select Department</option>
	// cast viewdata to same type of return from controller
	// ========first way to send data from controller to view ==========
    // var AllDepartments = new SelectList(ViewData["Department"] as IEnumerable<Department>, nameof(Department.Id), nameof(Department.Name));

	// ========second way to get data from  view directly==========
    var AllDepartments = new SelectList(await _departmentRepository.GetAllAsync(), nameof(Department.Id), nameof(Department.Name));

	// ========there is another way to get data from view directly==========
	// use for loop to get data from view
    // var AllDepartments = ViewData["Department"] as IEnumerable<Department>
}


@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    @* لكي يعرضها عندما يضيف قسم *@
    <div class="alert alert-success">
        @TempData["Message"];
    </div>

}

<h1 class="text-center my-4">Create Employee</h1>
<div class="container">
    <form asp-action="Create" enctype="multipart/form-data">
        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Name"></label> *@
        @*     <input asp-for="Name" class="form-control" /> *@
        @*     <span asp-validation-for="Name" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Age"></label> *@
        @*     <input asp-for="Age" class="form-control" /> *@
        @*     <span asp-validation-for="Age" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Email"></label> *@
        @*     <input asp-for="Email" class="form-control" /> *@
        @*     <span asp-validation-for="Email" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Address"></label> *@
        @*     <input asp-for="Address" class="form-control" /> *@
        @*     <span asp-validation-for="Address" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Phone"></label> *@
        @*     <input asp-for="Phone" class="form-control" /> *@
        @*     <span asp-validation-for="Phone" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <label class="col-form-label" asp-for="Salary"></label> *@
        @*     <input asp-for="Salary" class="form-control" /> *@
        @*     <span asp-validation-for="Salary" class="text-danger"></span> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <input asp-for="IsACtive" class="form-chack" /> *@
        @*     <label class="col-form-label" asp-for="IsACtive"></label> *@
        @* </div> *@

        @* <div class="form-group"> *@
        @*     <input asp-for="IsDeleted" class="form-chack" /> *@
        @*     <label class="col-form-label" asp-for="IsDeleted"></label> *@
        @* </div> *@

        @* <div class="form-group"> *@ 
        @* @*     <label class="col-form-label" asp-for="HiringDate"></label> *@ 
        @* @*     <input asp-for="HiringDate" class="form-control" /> *@ 
        @* @*     <span asp-validation-for="HiringDate" class="text-danger"></span> *@ 

        @* <div class="form-group">
             <label class="col-form-label" asp-for="HiringDate"></label> *@
        @*     <input asp-for="HiringDate" class="form-control" /> *@
        @*     <span asp-validation-for="HiringDate" class="text-danger"></span> *@
        @* </div> *@


        <partial name="EmployeePartialView/_CreatEditePartialView" />
        
         <div class="form-group"> 
              <label class="col-form-label" asp-for="DepartmentId"></label> 
             <select asp-for="DepartmentId" asp-items="@AllDepartments" class=" form-control">
                <option value="@null">-- Select Department --</option>
            </select> 
          </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Image"></label>
            <input asp-for="Image" type="file" class="form-control" />
        </div>


        <div class="d-flex justify-content-start gap-3">
            <input type="submit" value="Submit" class="mt-4 btn btn-primary" />
            <a asp-action="Index" class="mt-4 btn btn-light">Back to List</a>
        </div>
    </form>
</div>
@section ValidationScripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
