
@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- صورة الموظف -->
<div class="text-center mb-4">
    <img src="~/Images/@Model.ImageName" width="120" height="120" class="rounded-circle border" alt="Employee Image">
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>

<div class="form-group">
    <input asp-for="IsACtive" class="form-check-input" disabled />
    <label class="form-check-label" asp-for="IsACtive"></label>
</div>

<div class="form-group">
    <input asp-for="IsDeleted" class="form-check-input" disabled />
    <label class="form-check-label" asp-for="IsDeleted"></label>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="HiringDate"></label>
    <input asp-for="HiringDate" class="form-control" readonly />
</div>

<div class="d-flex justify-content-start gap-3 mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
