@* @model Employee *@
@model CreatEmployeeDTO
@{
    ViewData["Title"] = "Edit";
    var AllDepartments = new SelectList(ViewData["Department"] as IEnumerable<Department>, nameof(Department.Id), nameof(Department.Name));

}
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
   
    <div class="alert alert-success">
        @TempData["Message"];
    </div>

}
<div class="row">
    <div class="col-4">

        <h1 class="text-center my-4">Edit Employee</h1>

    </div>
    <div class="col-8">
        <!-- صورة الموظف -->
    
        <img src="~/Images/@Model.ImageName" width="120" height="120" class="rounded-circle border" alt="Employee Image">
    </div>


</div>

<div class="container">

   

    <form asp-action="Edit" enctype="multipart/form-data">
       

        <div class="form-group">
            <label class="col-form-label" asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Age"></label>
            <input asp-for="Age" class="form-control"  />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Email"></label>
            <input asp-for="Email" class="form-control"  />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Address"></label>
            <input asp-for="Address" class="form-control"  />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control"  />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control"  />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="IsACtive" class="form-chack" />
            <label class="col-form-label" asp-for="IsACtive"></label>
        </div>

        <div class="form-group">
            <input asp-for="IsDeleted" class="form-chack"  />
            <label class="col-form-label" asp-for="IsDeleted"></label>
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="HiringDate"></label>
            <input asp-for="HiringDate" class="form-control"  />
        </div>

        <div class="form-group">
            <label class="col-form-label" asp-for="HiringDate"></label>
            <input asp-for="HiringDate" class="form-control"  />
        </div>
        <div class="form-group">
            <label class="col-form-label" asp-for="DepartmentId"></label>
            <select asp-for="DepartmentId" asp-items="@AllDepartments" class=" form-control">
                <option value="@null"></option>
            </select>
        </div>

      
        <input asp-for="ImageName" hidden/>

        <div class="form-group">
            <label class="col-form-label"  asp-for="Image"></label>
            <input type="file" class="form-control" asp-for="Image" />
        </div>

		<div class="d-flex justify-content-start gap-3 mt-4">
            <input type="submit" value="Edit" class=" btn btn-primary" />
            <a asp-action="Index"  class="btn btn-light">Back to List</a>
        </div>
    </form>
</div>
@section ValidationScripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
