 @model UserToReturnDTO
@{
    ViewData["Title"] = "Details";
}
<div class="row">

    <h1 class=" col-4">Details</h1>

    <div class="col-8">
        <!-- صورة الموظف -->

        @* <img src="~/Images/@Model.ImageName" width="120" height="120" class="rounded-circle border" alt="Employee Image"> *@
        <img src="~/Images/@(string.IsNullOrEmpty(Model.ImageName) ? "OIP.jpg" : Model.ImageName)"
             width="120" height="120" class="rounded-circle border" alt="User Image" width="100" height="100" />

    
    </div>
</div> 

<div class="form-group">
    <label class="col-form-label" asp-for="UserName"></label>
    <input asp-for="UserName" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Roles"></label>
    <input asp-for="Roles" class="form-control" readonly />
</div>







<div class="d-flex justify-content-start gap-3 mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
